## Data Wrangling:
### is the first step to be performed with the data. This process consists of collecting, cleaning, transforming, and manipulating raw data to make it usable for analysis.

In [3]:
import pandas as pd
import os
import plotly.express as px
import matplotlib as plt
import warnings

warnings.filterwarnings("ignore")

### Reading Dublin Bikes datasets:
These datasets were collected from data.gov.ie and they are under License: Creative Commons Attribution 4.0 (CC BY 4.0)

In [4]:
# as a total de 12 file were downloaded, this code will read all files and concatenate into a data frame called all_hist.

path = "./"
files = [file for file in os.listdir(path) if file.startswith('dublinbike-historical-data-2023') ] # filter only historical data files

all_hist = pd.DataFrame()

# for loop will load the file in a dataframe "current_month" and concatenate it to the dataframe "all_hist".
for file in files:
    current_month = pd.read_csv(path+"/"+file)
    all_hist = pd.concat([all_hist, current_month])

all_hist.shape

(1852356, 11)

# Extracting Station Name and Location for a new dataframe: dublin_bike_stations
### From the dataset, the bike stations will be extracted buy removing duplicates stations from all hist
### also, unicessary columns will be removed/

In [5]:

dublin_bike_stations = all_hist[['STATION ID','NAME','BIKE_STANDS','STATUS','LATITUDE', 'LONGITUDE']].drop_duplicates(subset=["STATION ID"])

dublin_bike_stations.head()

   STATION ID                NAME  BIKE_STANDS STATUS  LATITUDE  LONGITUDE
0           1       CLARENDON ROW           31   OPEN   53.3409   -6.26250
1           2  BLESSINGTON STREET           20   OPEN   53.3568   -6.26814
2           3       BOLTON STREET           20   OPEN   53.3512   -6.26986
3           4        GREEK STREET           20   OPEN   53.3469   -6.27298
4           5    CHARLEMONT PLACE           40   OPEN   53.3307   -6.26018

### For proper analysis, only historical data and open station_id will be selected.

In [6]:
# Filtering only OPEN stations and rename columns.
all_hist = all_hist[all_hist['STATUS'] == 'OPEN']

bike_usage = all_hist[['STATION ID', 'TIME', 'BIKE_STANDS', 'AVAILABLE_BIKE_STANDS', 'AVAILABLE_BIKES']]

#rename column AVAILABLE_BIKE_STANDS to BIKES_IN_USE
bike_usage.rename(columns={'AVAILABLE_BIKE_STANDS': 'BIKES_IN_USE'}, inplace=True)


# Setting the TIME collumn to datetime
bike_usage['TIME'] = pd.to_datetime(bike_usage['TIME'])
bike_usage.head()

   STATION ID                TIME  BIKE_STANDS  BIKES_IN_USE  AVAILABLE_BIKES
0           1 2023-01-01 00:00:03           31            31                0
1           2 2023-01-01 00:00:03           20            18                2
2           3 2023-01-01 00:00:03           20             9               11
3           4 2023-01-01 00:00:03           20             8               12
4           5 2023-01-01 00:00:03           40            16               24

# Calculating the number of trips 

### to get the number of  trips, its is necessary to sort by STATION ID and compare the number of BIKES_IN_USE from current row, to the previous row (diff),  if the number of BIKES_IN_USE is  bigger the previous row, so its a new trip.

In [7]:
# Sorting by station ID and time
bike_usage = bike_usage.sort_values(by=['STATION ID','TIME'], ascending=True)

# creating a new collumn, "TRIPS" and getting the diff of each row
bike_usage["TRIPS"] = bike_usage["BIKES_IN_USE"].diff()


# Using lambda function to replace negative results by 0
bike_usage["TRIPS"] = bike_usage["TRIPS"].apply(lambda x: x if x >= 0 else 0)

# For first row, the number of bikes in use is the number of trips.
bike_usage.loc[0, 'TRIPS'] = bike_usage.loc[0, 'BIKES_IN_USE']



# Creating a for loop to check if the station ID changes, it changes that means that for the new station, the number of bikes in use is the number of new trips.

for i in range(1, len(bike_usage)):
    if bike_usage['STATION ID'].iloc[i] != bike_usage['STATION ID'].iloc[i-1]:
        bike_usage['TRIPS'].iloc[i] = bike_usage['BIKES_IN_USE'].iloc[i]


bike_usage.head()

In [23]:
# sort by TIME
bike_usage.sort_values(by='TIME', ascending=True)

,STATION ID,TIME,BIKE_STANDS,BIKES_IN_USE,AVAILABLE_BIKES,TRIPS
0,1,2023-01-01 00:00:03,31,31,0,31.0
49,51,2023-01-01 00:00:03,40,35,5,35.0
52,54,2023-01-01 00:00:03,33,7,26,7.0
108,113,2023-01-01 00:00:03,40,28,12,28.0
42,43,2023-01-01 00:00:03,30,12,18,12.0
...,...,...,...,...,...,...
27435,78,2023-12-06 00:30:02,40,13,27,0.0
27383,24,2023-12-06 00:30:02,20,8,12,1.0
27436,79,2023-12-06 00:30:02,27,20,7,0.0
27437,80,2023-12-06 00:30:02,40,33,7,0.0
27438,82,2023-12-06 00:30:02,22,12,10,0.0

### Now, that the number of trips is known, these registries with no trips will be dropped.

In [25]:
bike_usage = bike_usage[bike_usage["TRIPS"] > 0]
bike_usage.head()

,STATION ID,TIME,BIKE_STANDS,BIKES_IN_USE,AVAILABLE_BIKES,TRIPS
0,1,2023-01-01 00:00:03,31,31,0,31.0
1921,1,2023-01-01 08:30:03,31,31,0,1.0
2938,1,2023-01-01 13:00:02,31,29,2,1.0
3390,1,2023-01-01 15:00:03,31,29,2,1.0
3616,1,2023-01-01 16:00:02,31,29,2,1.0

In [26]:
# Understanding Data Structure
bike_usage.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 452076 entries, 0 to 26903
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   STATION ID       452076 non-null  int64
 1   TIME             452076 non-null  datetime64[ns]
 2   BIKE_STANDS      452076 non-null  int64
 3   BIKES_IN_USE     452076 non-null  int64
 4   AVAILABLE_BIKES  452076 non-null  int64
 5   TRIPS            452076 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4)
memory usage: 24.1 MB

In [27]:
#Checking duplicates in dataframe
print(bike_usage.duplicated().sum())

0